*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,div,a{
  margin-top: 0;
  padding-top: 0;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
color: #434455 ;
font-family: "Roboto", sans-serif;
background-color:#FFFFFF ;
}

.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba#2e2f4214(46, 47, 66, 0.08);
}

.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav{
  display: flex;
  align-items: center;
}

.webstudio-logo{
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
text-decoration: none;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 0;
padding-right: 0;
margin-right: auto;
text-decoration: none;
}

.webstudio-logo-span {
    color: #2e2f42;
    text-decoration: none;
}
.mob-menu-open-btn{
display: block;
border: none;
fill: #2f2f37;
stroke-width: 1px;
stroke: #2e2f42;
background-color: #FFFFFF;
padding: 0;
}
.svg-menu-btn{
  fill: #2f2f37;
}

.mob-menu{
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.mob-menu.is-open{
  opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-container{
  position: relative;
    padding: 72px 0 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.mob-menu-close-btn{
  border-radius: 100%;
  border: 1px solid #2e2f42;
fill: #e7e9fc;
border-color: #8e8f99;
stroke-width: 1px;
stroke: #2e2f42;
  display: block;
  position: absolute;
  margin-left: auto;
 top: 24px;
 right: 24px;
 width: 24px;
 height: 24px;
}

.mob-menu-nav{
  margin-bottom: auto;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-nav-menu{
  display: flex;
  flex-direction: column;
  gap: 40px
  ;
}
.nav-menu{
  /* gap: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 16px;
  margin-bottom: 168px; */
  display: none;
}
.nav-link{
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.studio{
color: #404bbf;
}
.nav-link-item{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-after::after{
  color: #404bbf;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
}

.nav-link:hover{
     color: #404bbf;  
}
.nav-link:focus {
  color: #404bbf;      
}

.address{
    font-style: normal;
    margin-left: auto;
    display: none;
}
.address-margin{
  margin-bottom: 48px;
}
.address-list{
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.contact-link{
  color: #434455;
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
font-style: normal;
}
.tel{
  color: #4d5ae5;
}
.address-link {
  color: #434455;           
  font-style: normal;        
  line-height: 120%;          
  letter-spacing: 0.02em;    
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}

.address-link:hover{
    color: #404bbf; 
}
.address-link:focus {
  color: #404bbf;           
}

.socials-in-menu{
  display: flex;
  gap: 40px;
}

.hero-banner{
    padding: 72px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bggoods.png);
    background-size: cover;
    background-position: center;
    max-width: 320px;
    background-repeat: no-repeat;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
    margin-left: auto;
    margin-right: auto;
}

@media (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bggoods@2x.png");
  }
}

.hero-banner-title{ 
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
width: 216px;
margin: 0 auto 72px auto;
}

.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;            
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4D5AE5;      
  cursor: pointer;
  border: none;  
  border-radius: 4px;
 width: 169px;
 height: 56px;
 min-width: 169px;  
 display: block; 
 margin: 0 auto;     
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404BBF;
}

.secttwo{
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.secttwo-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.item-list{
  /* width: calc((100% - 72px) / 4); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-div{
  border:#F4F4FD ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: none;
}

.hthree-secttwo{ 
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.p-secttwo {
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.team{
    background-color:#F4F4FD;
    padding: 96px 0;
}
.team-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list{
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.item-team-list{
    background-color:#FFFFFF ;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}

.div-item-opis{
  padding: 32px 0;
  justify-content: center;
  gap: 24px;
}

.hthree-setcthree{
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.p-sectthree{
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.socials-box{
  display: flex;
  gap: 24px;
}

.socials-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item-list{
  width: 40px;
  height: 40px;
}

.item-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover{
  background-color: #404bbf;
}

.item-link:focus{
  background-color: #404bbf; 
}

.svg-team-list{
  fill: #f4f4fd;
}

.team-socials{
 padding: 12px;
 border-radius: 50%;
 background-color: #4D5AE5;
}

.portfolio{
 padding: 96px 0;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.li-portfolio{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.li-portfolio:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.li-portfolio:hover .p-sectfour-change{
  transform: translateY(0%);
}

.div-img-sectfour{
  position:relative ;
  overflow: hidden;
}

.p-sectfour-change{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-sectfour{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.hthree-portfolio {
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.p-sectfour {
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.footer{
background-color: #2e2f42;
padding: 96px 0;
}

.footer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.idk-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 24px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
color: #f4f4fd;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;
display: inline-block;
}

.webstudio-logo-spantwo{
    color: #4d5ae5 ;
}

.footer-p {
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.social-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-social-media{
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}

.socials-list-footer{
  display: flex;
  gap: 16px;
}

.socials-item-list-footer{
  width: 40px;
  height: 40px;
}

.item-link-footer{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link-footer:hover{
  background-color: #31d0aa;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}


.item-link-footer:hover{
  background-color: #31d0aa;
}

.item-link-footer:focus{
  background-color: #31d0aa;
}

.svg-socials-list{
  fill: #f4f4fd;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4 , 0 , 0.2 , 1),
   visibility 250ms cubic-bezier(0.4 , 0 , 0.2 , 1);  
}
.backdrop.is-open{
   opacity: 1;
  visibility: visible;
  pointer-events: auto ;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px; 
transition: transform 250ms cubic-bezier(0.4 , 0 , 0.2 , 1);
padding: 72px 16px 24px 16px;
}
.backdrop:not(.is-open).modal{
  transform: translate(-50%, -50%) scale(1.5 );
}
.close-butn{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
}
.close-butn:hover{
  background-color: #404bbf;
  border: none;
}
.close-butn:focus{
  background-color: #404bbf;
  border: none;
}
.close-butn:hover .svg-close-butn,
.close-butn:focus .svg-close-butn {
  fill: #ffffff;
}
.form-title{
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  cursor: pointer;
}
.submit-btn{
  display: flex;
  justify-content: center;
}
.overlay{
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  justify-content: center;
  align-items : center;
  display: flex ;
  display: none;
}
.pop-up{
  width: 408px;
min-height: 584px;
min-height: 584px;
position: absolute;
top: 50%;
left: 50%;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
display: flex;
flex-direction: column;
padding: 24px;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}
.svg-close-butn{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-svg {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.div-idk{
  margin-bottom: 8px;
}

.pop-up-field{
  margin-bottom: 8px;
  border: none;
  display: flex;
  flex-direction: column;
}

.pop-up-field:last-child{
  margin-bottom: 16px;
}
.pop-up-field .label{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;

/* line-height: 14px; */ 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
display: block;
}

.input{
  position: relative;
}

.pop-up-field-input{
  width: 100%;
height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
background-size: 24px;
background-position: 14px 18px ;
background-repeat: no-repeat;
background-image: url(../images/chilavek.svg);
box-sizing: border-box;
}

.pop-up-field-input:focus{
border-color: #4D5AE5;
}

.svg-input{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:has(.pop-up-field-input:focus) .svg-input {
  fill: #4D5AE5;
}

.pop-up-field-input:focus + .svg-input {
  fill: #4D5AE5;
}

.email{
  background-image: url(../images/poshta.svg);
}

.number{
  background-image: url(../images/telefon.svg);
}

.pop-up-fieldd{
  display: flex;
  flex-direction: row-reverse;
  gap: 8px ;
}

.pop-up-fieldd{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;

/* line-height: 14px; */ 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.comment-div{
  margin-bottom: 16px;
}

.textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.textarea:focus{
  border-color: #4D5AE5;
}

.checkbox {
  margin-bottom: 24px;
  position: relative;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.privacy-policy {
  color: #4d5ae5;
}

.input-checkbox:checked + .label .policy-svg {
  background-color: var(--active-color);
  fill: var(--icon-color);
  border: none;
  background-color: #404bbf;
  fill: #F4F4FD;
}

.submit{
  display: block;
  min-width: 169px;
  height: 56px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background: #4d5ae5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
text-align: center;
  border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:768px){
.container{
  width: 768px;
}
.hero-banner{
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bggoodm.png);
  padding: 112px 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bggoodm@2x.png");
  }
}
.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.webstudio-logo{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 120px;
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link{
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;
display: block;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 0;
padding-right: 0;
}
.after{
  color: #404BBF;
}
.nav-link.after{
  position: relative;
}
.nav-link.after::after{
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;height: 4px;
border-radius: 2px;
background-color: #404bbf;
}
.address{
  display: block;
}
.address-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}
.address-link{
  display: block;
  font-size: 12px;
}
.mob-menu-open-btn{
  display: none;
}
.mob-menu{
    display: none;
  }
  .hero-banner{
    padding: 112px 0;
  }
  .hero-banner-title{
font-size: 56px;

/* line-height: 60px; */ 
line-height: 107%;
width: 496px;
margin-bottom: 36px;
  }
  .secttwo-list-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px 24px;
    justify-content: center;
  }
  .item-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .svg-studio{
  display: none;
}
  .team-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .portfolio-list{
    display: grid;
grid-template-columns: repeat(2, 1fr);
     gap: 72px 24px;
  }
  .footer{
    padding: 96px 0;
  }
  .footer-div {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px; 
  list-style: none;
  width: 584px;
  align-items: baseline;
}
.idk-div{
  margin: 0;
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social-footer{
  align-items: flex-start;
}

.subscribe-form{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.subscribe-input{
  width: 264px;
}
.image-div{
  display: none;
}
.modal{
  width: 408px;
  padding: 72px 24px 24px 24px;
}
}

@media screen and (min-width:1158px) {
.container{
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.hero-banner{
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bggoodl.jpg);
  padding: 188px 0;
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bggoodl@2x.jpg");
  }
}
.hero-banner-title{
  margin-bottom: 48px;
}
.webstudio-logo{
  margin-right: 76px;
}
.nav-link{
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;
}
.after{
  color: #404BBF;
}

.nav-link-after::after{
  color: #404bbf;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
}

.nav-link:hover{
     color: #404bbf;  
}
.nav-link:focus {
  color: #404bbf;      
}
.address-list{
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.address-link{
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
}
.secttwo{
  padding: 120px 0;
}
.svg-studio{
  display: block;
}
.secttwo-list-item{
  display: flex;
  gap: 24px;
  
  flex-wrap: nowrap;
}
.item-list{
  width: 264px;
}
.hthree-secttwo{
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
}
.p-secttwo{
font-weight: 400;
}
.team{
  padding: 120px 0;
}
.image-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list{
  flex-direction: row;
  gap: 24px;
  flex-wrap: nowrap;
}
.portfolio{
  padding: 120px 0;
}
.portfolio-list{
  /* width: 736px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
    gap:40px 24px;
}
.li-portfolio{
  width: calc((100% - 48px) / 3);
}
.footer{
  padding: 100px 0;
}
.footer-div{ 
  gap: 0;
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  flex-wrap: nowrap;
}
.footer-p{
  width: 264px;
}
.idk-div{
  margin-right: 120px;
}
.social-footer{
  margin-right: 80px;
}
.modal{
  width: 408px;
}
}